*{
    padding: 0;
    margin: 0;
}
h1{
    text-align: center;
    font-size: xxx-large;
    margin: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(0, 0, 0);
    background-color:pink;
}
h2{
    text-align: center;
    font-size: xxx-large;
  
    font-family: cursive;
    color: rgb(0, 0, 0);

}
h3{
    text-align: center;
    font-size:40px;
    
    font-family: cursive;
    color: rgb(242, 71, 71);

}

.player{
    height: 100vh;
    width: 50%;
    position: fixed ;
    background-color: thistle;
}

.comp{
    height: 100vh;
    width: 50%;
    position: fixed;
    right: 0;
    background-color:skyblue;
    
}

.score{
    height: 200px;
    width: 300px;
    background-color:rgb(239, 222, 203);
    transform: translate(83vh, 30vh);
    border-radius: 2rem;
}
.Pscore{
    height: 130px;
    width: 130px;
    background-color: rgb(237, 229, 219);
    /* border-radius: 50%; */
    position: fixed;
    left: 10px;
    vertical-align: middle;
    line-height: 130px;
}
.Cscore{
    height: 130px;
    width: 130px;
    background-color: rgb(237, 229, 219);
    /* border-radius: 50%; */
    position: fixed;
    right: 10px;
    vertical-align: middle;
    line-height: 130px;
}

.choices{
    width: 50% ;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    position: fixed;
    bottom: 0;
 
}

.choice img{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid black;
}

.choice img:hover{
    transform: translate(-10px,-10px);
}

.shake{
    height: 400px;
    width: 400px;
 
    font-size: 250px;
    border-radius: 50%;
    text-align: center;
    animation: handShake 2s infinite;
    position: fixed;

}

@keyframes handShake {
    0%,100% { transform: rotate(10deg); }
    50% { transform: rotate(-10deg); }
  }

.CHrotate{
    transform: translate(50%,20%) rotate(-90deg);

}
.PHrotate{
    transform: translate(50%,20%) rotate(90deg) scaleX(-1);

}